<header class="header">
    <ul class="normal-font header-action-buttons-list">
        <li class="header-action-button"><a href="/">Home</a></li>
        <li class="header-action-button"><a href="/sign-up">Sign-up</a></li>
        <li class="header-action-button"><a href="/log-in">Log-in</a></li>
    </ul>
</header>