<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', {title: 'Log-in', csrfToken:locals.csrfToken}) %>
        <link rel="stylesheet" href="/styles/sign-up-and-log-in.css" />
    </head>
    <body>
        <%- include('includes/header') %>
        <main>
            <div class="form-container">
                <h1 class="topic-font">Log in to access this page!</h1>
            </div>
        </main>
    </body>
</html>