<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', {title: 'Log-in'}) %>
        <link rel="stylesheet" href="/styles/sign-up-and-log-in.css" />
    </head>
    <body>
        <%- include('includes/header') %>
        <main>
            <div class="form-container">
                <h1 class="topic-font">Welcome to this demo!</h1>
                <p class="normal-font">
                    In this demo project, you can create accounts & log in with
                    accounts.
                </p>
                <p class="normal-font">
                    In addition, on the <a href="/admin">/adming-page</a> you
                    can perform CRUD operations on blog posts.
                </p>
            </div>
        </main>
    </body>
</html>
