<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', {title: 'New post', csrfToken:locals.csrfToken}) %>
        <link rel="stylesheet" href="/styles/new-post.css" />
    </head>
    <body>
        <%- include('includes/header') %>
        <main>
            <div class="form-container">
                <h1 class="topic-font">New Post</h1>
                <%- include('includes/new-post-form', {
                    postAction : '/posts',
                    inputData : inputData,
                }) %>
            </div>
            <div class="form-container">
                <h1 class="topic-font">All Blog Posts</h1>
                <p class="normal-font">
                    Could not find any posts. Try posting some content!
                </p>
                <% if (!posts){ %>
                    <p>No posts yet. Try making some.</p>
                <% } else { %>
                    <% for (post of posts){ %>
                        <%- include('includes/post-box', {post:post}) %>
                    <% } %>
                <% } %>
            </div>
        </main>
    </body>
</html>
